
name: "Terraform Azure CI/CD"

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - "LALIT-26NOV/**"

env:
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

jobs:
  plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Setup Terraform"
        uses: hashicorp/setup-terraform@v2
      - name: "Terraform Init"
        run: terraform init
      - name: "Terraform Plan"
        run: terraform plan -var-file="terraform.tfvars"

  apply:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    needs: [ plan ]
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: "Setup Terraform"
        uses: hashicorp/setup-terraform@v2
      - name: "Terraform Init"
        run: terraform init
      - name: "Terraform Apply"
        run: terraform apply -auto-approve -var-file="terraform.tfvars"
